.login-page {
  .page-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .illustration {
      flex-basis: 60%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 60%;
      }
    }

    .form-container {
      flex-basis: 40%;
      display: flex;
      flex-direction: column;
      padding: 0 1rem;

      .input-container {
        margin-bottom: 1rem;

        ion-input {
          color: var(--ion-color-dark);
          background: var(--ion-color-white);
          padding: 0.5rem 1rem !important;
          margin: 0.5rem 0;
        }
      }

      button {
        border-radius: 2rem;
        width: 100%;
      }

      .reset-link {
        width: 100%;
        margin: 1rem 0;
        text-align: right;
        cursor: pointer;
        color: --ion-color-primary;
        font-size: 1.2rem;
      }

      .register-link {
        width: 100%;
        text-align: center;
        margin: 1rem 0;
        cursor: pointer;
      }
    }
  }
}
