<ion-content class="login-page" color="gray">
  <div class="page-container">
    <div class="illustration">
      <img src="assets/imgs/logo-cuper.svg" alt="logo">
    </div>
    <div class="form-container">
      <form (ngSubmit)="loginForm()">
        <div class="input-container">
          <ion-label position="stacked">{{"login.form.email" | translate}}</ion-label>
          <ion-input [(ngModel)]="user.email"
                    type="email"
                    placeholder="user@example.com"
                    name="email">
          </ion-input>
        </div>
        <div class="input-container">
          <ion-label position="stacked">{{"login.form.password" | translate}}</ion-label>
          <ion-input [(ngModel)]="user.password"
                    type="password"
                    name="password"
                    placeholder="Minimo 6 caracteres">
          </ion-input>
        </div>
        <div class="reset-link">
            <span (click)="recoverPassword()">
              {{"login.forgot_password" | translate}}
            </span>
          </div>
        <ion-button
          color="primary"
          expand="block"
          type="submit">
          {{"login.signin" | translate}}
        </ion-button>
      </form>
      <div class="register-link">
        <span (click)="createAccount()">
          {{"login.create_account" | translate}}
        </span>
      </div>
    </div>
  </div>
</ion-content>
